<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Prefs.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Prefs.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Prefs.Settings>
            <setting name="Width" serializeAs="String">
                <value>525</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value />
            </setting>
        </Prefs.Settings>
    </userSettings>
    <applicationSettings>
        <Prefs.Settings>
            <setting name="Title" serializeAs="String">
                <value>Aplicação v1.0</value>
            </setting>
        </Prefs.Settings>
    </applicationSettings>
</configuration>