<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CadCliente.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <CadCliente.Settings>
      <setting name="WindowWidth" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
    </CadCliente.Settings>
  </userSettings>
  <appSettings>
    <add key="dbProvider" value="System.Data.SqlClient" />
  </appSettings>
  <connectionStrings>
    <add name="dbConnString" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=clientedb;Integrated Security=True" />
  </connectionStrings>

</configuration>